altgraph==0.17.3
auto-py-to-exe==2.35.0
bottle==0.12.25
bottle-websocket==0.2.9
contourpy==1.0.7
cycler==0.11.0
Eel==0.16.0
fonttools==4.39.4
future==0.18.3
gevent==22.10.2
gevent-websocket==0.10.1
greenlet==2.0.2
importlib-resources==5.12.0
kiwisolver==1.4.4
matplotlib==3.7.1
numpy==1.24.3
packaging==23.1
Pillow==9.5.0
pyinstaller==5.11.0
pyinstaller-hooks-contrib==2023.3
pyparsing==3.0.9
python-dateutil==2.8.2
six==1.16.0
tk==0.1.0
whichcraft==0.6.1
zipp==3.15.0
zope.event==4.6
zope.interface==6.0
